@{
    ViewData["Title"] = "Update Teacher";
    ViewData["menuActive4"] = "active";
    ViewData["moduleJSPage"] = "TeachersController.js";
}
@{
    var TeacherName = ViewBag.TeacherName;
    var TeacherBirthday = ViewBag.TeacherBirthday;
    var Salary = ViewBag.Salary;
}
<div class="pcoded-inner-content" id="TeachersController" ng-controller="TeachersCreate">
    <div class="main-body">
        <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-10">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Teachers</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a asp-controller="Home" asp-action="Index"><i class="feather icon-home"></i></a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a asp-controller="Teachers" asp-action="Index">Teachers</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a>Update</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-2 text-right">
                                <button id="btnSaveTeacher" type="button" class="btn btn-outline-info" data-toggle="tooltip">
                                    <i class="feather icon-save"></i>Update
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <!-- [ Form ] start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Update Teacher</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form>
                                                <div class="form-group">
                                                    <label>Teacher Name</label>
                                                    <input id="nameTeacher" type="text" value="@TeacherName"
                                                           class="form-control" placeholder="Name">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <form>
                                                <div class="form-group">
                                                    <label>Date Birthday</label>
                                                    <input id="birthTeacher" type="date" value="@TeacherBirthday"
                                                           class="form-control" placeholder="Birthday">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-6">
                                            <form>
                                                <div class="form-group">
                                                    <label>Salary</label>
                                                    <input id="salaryTeacher" type="number" value="@Salary"
                                                           class="form-control" placeholder="Salary">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Form ] start -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
</div>