@{
    ViewData["Title"] = "New Subjects";
    ViewData["menuActive3"] = "active";
    ViewData["moduleJSPage"] = "SubjectsController.js";
}
@{
    var Courses = ViewBag.Courses;
    var Teachers = ViewBag.Teachers;
}
<div class="pcoded-inner-content" id="SubjectsController" ng-controller="SubjectsCreate">
    <div class="main-body">
        <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-10">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Subjects</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a asp-controller="Home" asp-action="Index"><i class="feather icon-home"></i></a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a asp-controller="Subjects" asp-action="Index">Subjects</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a>New</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-2 text-right">
                                <button id="btnSaveSubject" type="button" class="btn btn-outline-success" data-toggle="tooltip">
                                    <i class="feather icon-save"></i>Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Form ] start -->
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Register New Subject</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="nameSubject">Subject Name</label>
                                                    <input id="nameSubject" type="text"
                                                           class="form-control" placeholder="Name">
                                                </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Course Name</label>
                                                <select class="form-control" id="selectCourse">
                                                    <option disabled hidden selected>Select a course</option>
                                                    @foreach (var item in @Courses)
                                                    {
                                                        <option value="@item[0]">
                                                            @item[1]
                                                        </option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Teacher Name</label>
                                                <select class="form-control" id="selectTeacher">
                                                    <option disabled hidden selected>Select a teacher</option>
                                                    @foreach (var item in @Teachers)
                                                    {
                                                        <option value="@item[0]">
                                                            @item[1]
                                                        </option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ Form ] end -->
                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
</div>